<a href="https://colab.research.google.com/github/Davidnazal/Struktur-data/blob/main/2410506005_Srukdat_Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Implementasi Bubble sort**

In [2]:
def bubble_sort(arr):
  n = len(arr)
  for i in range(n-1):
    for j in range(n-i-1):
      if arr[j] > arr[j+1]:
        arr[j], arr[j+1] = arr[j+1],arr[j]
  return arr

# contoh penggunaan
data = [64, 34, 25, 12, 22, 11, 90]
sorted_data = bubble_sort(data.copy())
print("Data sebelum sorting:", data)
print("Data setelah Bubbble sort:", sorted_data)

Data sebelum sorting: [64, 34, 25, 12, 22, 11, 90]
Data setelah Bubbble sort: [11, 12, 22, 25, 34, 64, 90]

# **Implementasi Selection sort**

In [3]:
def selection_sort(arr):
  n = len(arr)
  for i in range(n-1):
    min_index = i
    for j in range(i + 1, n):
      if arr[j] < arr[min_index]:
        min_index = j
    arr[i], arr[min_index] = arr[min_index], arr[i]
  return arr

# contoh penggunaan
data = [64, 34, 25, 12, 22, 11, 90]
sorted_data = selection_sort(data.copy())
print("Data sebelum sorting:", data)
print("Data setelah selection sort:", sorted_data)

Data sebelum sorting: [64, 34, 25, 12, 22, 11, 90]
Data setelah selection sort: [11, 12, 22, 25, 34, 64, 90]

# **Implementasi Insertion sort**

In [5]:
def insertion_sort(arr):
  n = len(arr)
  for i in range(1, n):
    key = arr[i]
    j = i - 1
    while j >= 0 and arr[j] > key:
      arr[j + 1] = arr[j]
      j -= 1
    arr[j + 1] = key
  return arr

# contoh penggunaan
data = [64, 34, 25, 12, 22, 11, 90]
sorted_data = insertion_sort(data.copy())
print("Data sebelum sorting:", data)
print("Data setelah insertion sort:", sorted_data)

Data sebelum sorting: [64, 34, 25, 12, 22, 11, 90]
Data setelah insertion sort: [11, 12, 22, 25, 34, 64, 90]

# **Implementasi Merge sort**

In [ ]:
def merge_sort(arr):
    if len(arr) > 1:
        mid = len(arr) // 2
        left_half = arr[:mid]
        right_half = arr[mid:]

        merge_sort(left_half)
        merge_sort(right_half)

        i = j = k = 0

        while i < len(left_half) and j < len(right_half):
            if left_half[i] < right_half[j]:
                arr[k] = left_half[i]
                i += 1
            else:
                arr[k] = right_half[j]
                j += 1
            k += 1

        while i < len(left_half):
            arr[k] = left_half[i]
            i += 1
            k += 1

        while j < len(right_half):
            arr[k] = right_half[j]
            j += 1
            k += 1

    return arr

# Contoh penggunaan
data = [64, 25, 12, 22, 11]
sorted_data = merge_sort(data.copy())
print("Data sebelum sorting:", data)
print("Data setelah Merge Sort:", sorted_data)

Data sebelum sorting: [64, 25, 12, 22, 11]
Data setelah Merge Sort: [11, 12, 22, 25, 64]

# **Implementasi quick sort**

In [6]:
def quick_sort(arr):
    if len(arr) <= 1:
        return arr

    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]

    return quick_sort(left) + middle + quick_sort(right)

# Contoh penggunaan
data = [64, 25, 12, 22, 11]
sorted_data = quick_sort(data.copy())
print("Data sebelum sorting:", data)
print("Data setelah Quick Sort:", sorted_data)

Data sebelum sorting: [64, 25, 12, 22, 11]
Data setelah Quick Sort: [11, 12, 22, 25, 64]

# **Tugas**

In [4]:
def merge_sort(data, key):
    if len(data) > 1:
        mid = len(data) // 2
        left_half = data[:mid]
        right_half = data[mid:]

        merge_sort(left_half, key)
        merge_sort(right_half, key)

        i = j = k = 0

        while i < len(left_half) and j < len(right_half):
            if left_half[i][key] < right_half[j][key]:
                data[k] = left_half[i]
                i += 1
            else:
                data[k] = right_half[j]
                j += 1
            k += 1

        while i < len(left_half):
            data[k] = left_half[i]
            i += 1
            k += 1

        while j < len(right_half):
            data[k] = right_half[j]
            j += 1
            k += 1

def print_data(data_pelanggan):
    print("\nDaftar Pelanggan:")
    for dp in data_pelanggan:
        print(f"Nama: {dp['nama']}, Umur: {dp['umur']}, Total Belanja: {dp['total_belanja']}")

# Contoh data pelanggan
data_pelanggan = [
    {"nama": "Sabil", "umur": 18, "total_belanja": 50000},
    {"nama": "Hanif", "umur": 18, "total_belanja": 70000},
    {"nama": "David", "umur": 19, "total_belanja": 30000},
    {"nama": "Rayfal", "umur": 20, "total_belanja": 15000},
    {"nama": "Abdi", "umur": 17, "total_belanja": 23000},
    {"nama": "Yasa", "umur": 23, "total_belanja": 17000},
    {"nama": "Figo", "umur": 19, "total_belanja": 66000},
    {"nama": "Biyyu", "umur": 20, "total_belanja": 91000},
]

print_data(data_pelanggan)

# Sorting berdasarkan nama (A-Z)
merge_sort(data_pelanggan, "nama")
print("\nUrutan Berdasarkan Nama (A-Z):")
print_data(data_pelanggan)

# Sorting berdasarkan umur
merge_sort(data_pelanggan, "umur")
print("\nUrutan Berdasarkan Umur:")
print_data(data_pelanggan)

# Sorting berdasarkan total belanja
merge_sort(data_pelanggan, "total_belanja")
print("\nUrutan Berdasarkan Total Belanja (dari yang terkecil):")
print_data(data_pelanggan)

Daftar Pelanggan:
Nama: Sabil, Umur: 18, Total Belanja: 50000
Nama: Hanif, Umur: 18, Total Belanja: 70000
Nama: David, Umur: 19, Total Belanja: 30000
Nama: Rayfal, Umur: 20, Total Belanja: 15000
Nama: Abdi, Umur: 17, Total Belanja: 23000
Nama: Yasa, Umur: 23, Total Belanja: 17000
Nama: Figo, Umur: 19, Total Belanja: 66000
Nama: Biyyu, Umur: 20, Total Belanja: 91000

Urutan Berdasarkan Nama (A-Z):

Daftar Pelanggan:
Nama: Abdi, Umur: 17, Total Belanja: 23000
Nama: Biyyu, Umur: 20, Total Belanja: 91000
Nama: David, Umur: 19, Total Belanja: 30000
Nama: Figo, Umur: 19, Total Belanja: 66000
Nama: Hanif, Umur: 18, Total Belanja: 70000
Nama: Rayfal, Umur: 20, Total Belanja: 15000
Nama: Sabil, Umur: 18, Total Belanja: 50000
Nama: Yasa, Umur: 23, Total Belanja: 17000

Urutan Berdasarkan Umur:

Daftar Pelanggan:
Nama: Abdi, Umur: 17, Total Belanja: 23000
Nama: Sabil, Umur: 18, Total Belanja: 50000
Nama: Hanif, Umur: 18, Total Belanja: 70000
Nama: Figo, Umur: 19, Total Belanja: 66000
Nama: David, Umur: 19, Total Belanja: 30000
Nama: Rayfal, Umur: 20, Total Belanja: 15000
Nama: Biyyu, Umur: 20, Total Belanja: 91000
Nama: Yasa, Umur: 23, Total Belanja: 17000

Urutan Berdasarkan Total Belanja (dari yang terkecil):

Daftar Pelanggan:
Nama: Rayfal, Umur: 20, Total Belanja: 15000
Nama: Yasa, Umur: 23, Total Belanja: 17000
Nama: Abdi, Umur: 17, Total Belanja: 23000
Nama: David, Umur: 19, Total Belanja: 30000
Nama: Sabil, Umur: 18, Total Belanja: 50000
Nama: Figo, Umur: 19, Total Belanja: 66000
Nama: Hanif, Umur: 18, Total Belanja: 70000
Nama: Biyyu, Umur: 20, Total Belanja: 91000