<a href="https://colab.research.google.com/github/Davidnazal/Struktur-data/blob/main/2410506005__Strukdat_Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#List Python(list)
angka = [10,20,30,40,50]
print ("Array dengan list", angka)

Array dengan list [10, 20, 30, 40, 50]

In [ ]:
#modul array
import array
angka = array.array('i', [10,20,30,40,50])
print ("Array dengan modul array", angka)

Array dengan modul array array('i', [10, 20, 30, 40, 50])

In [ ]:
#Modul numpy
import numpy as np
angka = np.array([10,20,30,40,50])
print ("Array dengan modul numpy", angka)

Array dengan modul numpy [10 20 30 40 50]

In [ ]:
#Array satu dimensi
import numpy as np
angka = np.array([1,2,3,4,5])
print ("Array satu dimensi:", angka)

Array satu dimensi: [1 2 3 4 5]

In [ ]:
#Array dua dimensi
matriks = np.array([[1,2],[3,4],[5,6]])
print ("Array dua dimensi:\n", matriks)

Array dua dimensi:
 [[1 2]
 [3 4]
 [5 6]]

In [ ]:
#Array tiga dimensi
array3D = np.array([[[1,2],[3,4]],[[5,6],[7,8]]])
print ("Array tiga dimensi:", array3D)

Array tiga dimensi: [[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [ ]:
#Deklarasi array kosong
angka = []

In [ ]:
#Array dengan elemen
angka = [10,20,30,40,50]

In [ ]:
#akses elemen
print ("Elemen pertama", angka [0])
print ("Elemen kedua", angka [-1])

Elemen pertama 10
Elemen kedua 50

In [ ]:
#menambah elemen
angka.append(60)
print ("Setelah append", angka )

Setelah append [10, 20, 30, 40, 50, 60]

In [ ]:
#mengkapus elemen
angka.remove(30)
print("Setelah remove",angka)

Setelah remove [10, 20, 40, 50, 60]

In [ ]:
#iterasi array
for nilai in angka :
    print ("Nilai",nilai)

Nilai 10
Nilai 20
Nilai 40
Nilai 50
Nilai 60

In [ ]:
print ("elemen pertama", angka [0])

elemen pertama 10

In [ ]:
angka = np.append (angka, 60)
print ("Setelah penambahan", angka)

Setelah penambahan [10 20 40 50 60 60]

In [ ]:
angka = np.delete (angka, 2)
print ("Setelah penghapusan", angka)

Setelah penghapusan [10 20 50 60 60]

In [ ]:
print ("Jumlah elemen", len ( angka))

Jumlah elemen 5

In [ ]:
data = []
angka = [10,20,30,40,50]
print (" Isi array angka", angka)

 Isi array angka [10, 20, 30, 40, 50]

# Latihan 1

In [ ]:
# Latihan 1

NPM= [2410506001,2410506002,2410506003,2410506004,2410506005]
print ("Isi NPM", NPM)

Isi NPM [2410506001, 2410506002, 2410506003, 2410506004, 2410506005]

In [ ]:
print ("Elemen pertama: ", NPM[0])
print ("Elemen terakhir: ", NPM [-1])

Elemen pertama:  2410506001
Elemen terakhir:  2410506005

In [ ]:
angka.append(60)
print ("Array setelah penambahan elemen", angka)

Array setelah penambahan elemen [10, 20, 30, 40, 50, 60]

In [ ]:
angka.insert(2,25)
print ("Array setelah penambahan elemen dengan insert:", angka)

Array setelah penambahan elemen dengan insert: [10, 20, 25, 30, 40, 50, 60]

In [ ]:
angka.remove(25)
print ("Array setelah penghapusan elemen 25:", angka)

Array setelah penghapusan elemen 25: [10, 20, 30, 40, 50, 60]

In [ ]:
angka.pop(2)
print ("Array setelah penghapusan elemen pada indeks 2:", angka)

Array setelah penghapusan elemen pada indeks 2: [10, 20, 40, 50, 60]

# Latihan 2

In [ ]:
angka.append (5)
print ("Array setelah penambahan elemen 5:", angka)
angka.pop(0)
print ("Array setelah penghapusan elemen pertama:", angka)

Array setelah penambahan elemen 5: [10, 20, 40, 50, 60, 5, 5]
Array setelah penghapusan elemen pertama: [20, 40, 50, 60, 5, 5]

In [ ]:
angka = [10,20,30,40]

for nilai in angka:
  print ("Nilai", nilai)

Nilai 10
Nilai 20
Nilai 30
Nilai 40

# Latihan 3

In [ ]:
Untidar = ("Fakultas Teknik","Fakultas Ekonomi","Fakultas Ilmu Keguruan dan ilmu pendidikan","Fakultas Ilmu sosial dan ilmu politik", "Fakultas Pertanian")

for fakultas in Untidar:
  print (fakultas)

Fakultas Teknik
Fakultas Ekonomi
Fakultas Ilmu Keguruan dan ilmu pendidikan
Fakultas Ilmu sosial dan ilmu politik
Fakultas Pertanian

In [ ]:
angka = [10,20,30,40]

print("jumlah total",sum (angka))
print ("nilai maksimum", max(angka))
print ("nilai minimum", min(angka))

jumlah total 100
nilai maksimum 40
nilai minimum 10

# Latihan 4

In [ ]:
harga_barang = (10000,15000,25000)
print ("harga barang", sum(harga_barang))
print ("jumlah elemen", len(harga_barang))

harga barang 50000
jumlah elemen 3

In [ ]:
matriks = [
         [1,2,3],
         [4,5,6],
         [7,8,9]
]
print ("isi array 2d:")
for baris in matriks:
  print(baris)

isi array 2d:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

# Latihan 5

In [ ]:
matriks = [
         [1,2,3,4],
         [5,6,7,8],
         [9,10,11,12]
]
print ("isi array 2d:")
for baris in matriks:
  print(baris)

isi array 2d:
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

In [ ]:
print ("Elemen pada baris ke 1, kolom 2:", matriks[0][1])
print ("Elemen terakhir:", matriks[-1][-1])

Elemen pada baris ke 1, kolom 2: 2
Elemen terakhir: 12

# Latihan 6

In [ ]:
print ("Elemen pada baris ke 2, kolom 4:", matriks [1][3])

Elemen pada baris ke 2, kolom 4: 8

In [ ]:
matriks.append ([10,11,12])
print ("Matriks setelah menambahkan baris baru:", matriks)

Matriks setelah menambahkan baris baru: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [10, 11, 12]]

In [ ]:
matriks[1].append(99)
print ("Matriks setelah menambahkan baris ke-2", matriks)

Matriks setelah menambahkan baris ke-2 [[1, 2, 3, 4], [5, 6, 7, 8, 99], [9, 10, 11, 12], [10, 11, 12]]

# Latihan 7

In [ ]:
# Latihan 7
matriks.append ([8,10,20,5])
print ("Matriks setelah menambahkan baris baru:", matriks)

Matriks setelah menambahkan baris baru: [[1, 2, 3, 4], [5, 6, 7, 8, 99], [9, 10, 11, 12], [10, 11, 12], [8, 10, 20, 5]]

In [ ]:
matriks[0].remove(2)
print ("Array setelah menghapus elemen indeks ke-1 baris ke-2:",matriks)

Array setelah menghapus elemen indeks ke-1 baris ke-2: [[1, 3, 4], [5, 6, 7, 8, 99], [9, 10, 11, 12], [10, 11, 12], [8, 10, 20, 5]]

In [ ]:
matriks[1].pop(1)
print ("Array setelah menghapus elemen indeks ke-1 baris ke-2:",matriks)

Array setelah menghapus elemen indeks ke-1 baris ke-2: [[1, 3, 4], [5, 7, 8, 99], [9, 10, 11, 12], [10, 11, 12], [8, 10, 20, 5]]

In [ ]:
# Latihan 8
matriks[-1].pop(2)
print ("Array setelah menghapus elemen indeks ke-3 baris terakhir:",matriks)

Array setelah menghapus elemen indeks ke-3 baris terakhir: [[1, 3, 4], [5, 7, 8, 99], [9, 10, 11, 12], [10, 11, 12], [8, 10, 5]]

In [ ]:
matriks[2][1]=88
print ("Array setelah mengubah elemen baris ke-3, indeks ke-2 :",matriks)

Array setelah mengubah elemen baris ke-3, indeks ke-2 : [[1, 3, 4], [5, 7, 8, 99], [9, 88, 11, 12], [10, 11, 12], [8, 10, 5]]

In [ ]:
# Latihan 9
matriks[-1][2]=14
print ("Array setelah mengubah elemen baris ke-3, indeks ke-2 :",matriks)

Array setelah mengubah elemen baris ke-3, indeks ke-2 : [[1, 3, 4], [5, 7, 8, 99], [9, 88, 11, 12], [10, 11, 12], [8, 10, 14]]

In [ ]:
belanja = ["Beras","Gula","Minyak"]
belanja.append("Teh")
belanja.remove("Gula")
print("Daftar belanja terbaru:",belanja)

Daftar belanja terbaru: ['Beras', 'Minyak', 'Teh']

In [ ]:
# Latihan 10
Belanja = ["Beras","Minyak", "Mie","Telur","Kopi"]
Belanja.append("Micin")
Belanja.remove("Mie")
print("Daftar belanja terbaru:",Belanja)

Daftar belanja terbaru: ['Beras', 'Minyak', 'Telur', 'Kopi', 'Micin']